#keyboard {
  .row {
    display: flex;

    .key {
      overflow: hidden;
      position: relative;

      .keyCap {
        border: 1px solid gray;
        border-radius: 5px;
        content: '';
        height: calc(100% - 16px);
        padding-top: 4px;
        position: absolute;
        width: calc(100% - 12px);
        p {
          font-size: 14px;
          margin: 0px;
        }
      }
    }
  }
}
