#keyboard {
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
  padding: 20px;
  padding-top: 50px;

  .row {
    display: flex;

    .key {
      overflow: hidden;
      position: relative;

      .keyCap {
        background-color: #f8f8f8;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 0 2px 2px #c3c3c3, 0 2px 2px #c9c9c9, 0 2px 3px #333;
        content: '';
        height: calc(100% - 16px);
        padding-top: 4px;
        position: absolute;
        width: calc(100% - 12px);
        p {
          font-size: 14px;
          margin: 0px;
        }
      }

      &.pressed {
        .keyCap {
          background-color: #b4e3ff;
        }
      }
    }
  }
}
