#keyboard {
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  .row {
    .key {
      .keyCap {
        background: linear-gradient(to right, #f3f3f3, #fff, #f3f3f3);
        border-color: #f3f3f3 #f3f3f3 #eeeeea;
        border-width: 3px 7px 10px;
        border-style: solid;
        border-radius: 3px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
        height: calc(100% - 17px);
        margin: 2px;
        p {
          font-size: 14px;
          margin: 0px;
        }
        &.blue {
          background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
          border-color: #c4c7cc #adb9cc #96a6bd;
        }
      }
      &.pressed, &.pressing {
        .keyCap {
          background: #ededed;
          border-color: #e7e7e7 #e7e7e7 #b9b4b4;
          &.blue {
            background: linear-gradient(to right, #bbc3d2, #cdd3de, #bbc3d2);
            border-color: #c4c7cc #adb9cc #96a6bd;
          }
        }
      }
      &.pressing .keyCap {
        transform: scale(0.95);
      }
    }
  }
}
