body {
  background-color: rgb(230, 255, 252);
}
.App {
  font-family: sans-serif;
  text-align: center;
  .row {
    display: flex;
  }
  h2 {
    span {
      border-bottom: 2px solid black;
      margin-left: 5px;
      padding: 0px 5px;
      animation: 1s blink step-end infinite;
    }
  }
}

@keyframes blink {
  from, to {
    border-bottom: none;
  }
  50% {
    border-bottom: 2px solid black;
  }
}
